.header-color {
    background: #BE93C5;
    background: -webkit-linear-gradient(to left, #7BC6CC, #BE93C5);
    background: linear-gradient(to left, #7BC6CC, #BE93C5);
}

.Landing-grid {
    background: #BE93C5;
    background: -webkit-linear-gradient(to left, #7BC6CC, #BE93C5);
    background: linear-gradient(to left, #7BC6CC, #BE93C5);
    text-align: center;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.avatar-img{
    height: 250px;
    padding-top: 5em;
}

.banner-text{
    background-color: rgba(0,0,0,0.2);
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.banner-text h1{
    font-size: 56px;
    font-weight: bold;
    color: white;
    /* padding-left: 10rem; */
}

.banner-text hr{
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p{
    font-size: 20px;
    padding: 1em;
    color: white;
    /* padding-left: 7rem; */

}

.social-links{
    display: flex;
    justify-content: center;
}

.social-links i{
    color: white;
    font-size: 5em;
    padding: 8px;
}

.projects-grid{
    display: flex;
    
}

/* Contact page css */
.contact-body{
    margin: auto;
    /* background: grey; */
    position: fixed;
    overflow-y:auto;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
}

.contact-grid{
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    background: white;
    color:black;
    /* border: 2px solid red; */
    margin-bottom: 20px;
}

.contact-grid h2{
    font-family: 'Anton', sans-serif;
}
.contact-grid p{
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

.contact-grid hr{
    border-top: 5px dotted black;
    width: 50%;
    margin:auto;
}

.contact-list i{
    font-size: 50px;
    padding-right: 5rem;

}

/* About page css */
.about-rigth-col{
    background: #BE93C5;
    color: white;
    padding: 2em;
}


